---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Career from "../components/Career.astro";
import Skills from "../components/Skills.astro";
import Contact from "../components/Contact.astro";
import Projects from "src/components/Projects.astro";
---

<BaseLayout title="Aman's Portfolio">
  <div class="__root">
    <Hero />
    <Career />
    <Skills />
    <Projects />
    <Contact />
  </div>
</BaseLayout>

<style lang="scss" is:global>
  .__root {
    > .container {
      &:nth-child(even) {
        background-color: var(--background-dark);
      }
      &:nth-child(odd) {
        background-color: var(--background-primary);
      }
    }

    .highlight {
      background-color: var(--accent-contrast);
      background-image: var(--gradient-highlight);
      background-size: 100%;
      background-repeat: repeat;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
    }
  }
</style>
