---
const EXPERIENCE = [
  {
    title: "Software Engineer - II",
    start: "Mar 2025",
    end: "Present",
    org: "Tekion Corp",
    description:
      "Worked with technologies like React, Angular, Node.js, Leaflet, Java, express,js.",
    location: "Bengaluru, India"
  },
  {
    title: "Software Development Engineer - II",
    start: "Nov 2023",
    end: "Mar 2025",
    org: "Groupon",
    description:
      "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?",
    location: "Bengaluru, India"
  },
  {
    title: "Product Development Engineer - I",
    start: "Dec 2021",
    end: "Nov 2023",
    org: "Phenom",
    description:
      "Worked with technologies like React, Angular, Node.js, Leaflet, Java, express,js.",
    location: "Hyderabad, India"
  },
  {
    title: "Software Engineer - L4",
    start: "Oct 2020",
    end: "Dec 2021",
    org: "MapMyIndia",
    description:
      "Worked with technologies like React, Angular, Node.js, Leaflet, Java, express,js.",
    location: "New Delhi, India"
  },
];
---

<section class="journey">
  <div class="container">
    {
      EXPERIENCE.map((exp, idx) => (
        <div
          class:list={[
            "timeline-block",
            `timeline-block-${(idx & 1) ? "right" : "left"}`,
          ]}
        >
          <div class="marker" />
          <div class="timeline-content">
            <h3 class="title">{exp.title}</h3>
            <section class="workplace">
              <div class="org-name">
                <i class="cil-library-building icon"></i>
                <span>{exp.org}</span>
              </div>
              <div class="duration">
                <i class="cil-calendar icon"></i>
                <span>{exp.start + " - " + exp.end}</span>
              </div>
            </section>
            <section class="location">
              <i class="cil-location-pin icon"></i>
              <span>{exp.location}</span>
            </section>
            <p class="description">{exp.description}</p>
          </div>
        </div>
      ))
    }
  </div>
</section>

<style lang="scss" define:vars={{ cardShadow: "rgba(190, 119, 148, 0.3)" }}>
  @import "../styles/media.scss";

  .journey {
    background: var(--background-dark);
    font-family: var(--font-family-inria);
  }
  .container {
    padding: 40px 32px;
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      top: 15px;
      left: 50%;
      margin-left: -1px;
      width: 2px;
      height: 97%;
      background: var(--light-main);
      z-index: 1;
      @include medium_device {
        left: 30px;
      }
    }
    @include medium_device {
      padding: 40px 20px;
    }
  }
  .timeline-block {
    width: -webkit-calc(50% + 10px);
    width: -moz-calc(50% + 10px);
    width: calc(50% + 10px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    gap: 12px;
    clear: both;
    @include medium_device {
      width: 100%;
      margin-bottom: 30px;
    }
    &-right {
      float: right;
      @include medium_device {
        float: none;
      }
    }
    &-left {
      float: left;
      direction: rtl;
      @include medium_device {
        float: none;
        direction: ltr;
      }
      .timeline-content {
        .title {
          text-align: right;
          @include medium_device {
            text-align: left;
          }
        }
        .description {
          text-align: justify;
        }
        .workplace {
          justify-content: flex-end;
          @include medium_device {
            justify-content: flex-start;
          }
        }
        .location {
          direction: rtl;
          @include medium_device {
            direction: ltr;
          }
        }
      }
    }

    .marker {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 2px solid #f5f7fa;
      background: var(--accent-contrast);
      margin-top: 10px;
      z-index: 9999;
    }
    .timeline-content {
      width: 95%;
      padding: 0 15px;
      border: 1px solid var(--light-main);
      border-radius: 6px;
      padding: 16px;
      -webkit-box-shadow: 0 0 5px 2px var(--cardShadow);
      -moz-box-shadow: 0 0 5px 2px var(--cardShadow);
      box-shadow: 0 0 5px 2px var(--cardShadow);
      // box-shadow: 1px 1px 1px 1px rgba(190, 119, 148, 0.3);
      direction: ltr;
      .title {
        font-size: var(--text-lg);
        color: var(--light-mild);
      }
      .workplace {
        display: flex;
        gap: 12px;
        color: var(--light-main);
        margin: 12px 0 0;
      }
      .icon {
        color: var(--accent-contrast);
      }
      .org-name, .duration {
        font-family: var(--font-family-inria);
        display: flex;
        align-items: baseline;
        gap: 8px;
      }
      .location {
        color: var(--light-main);
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 4px;
      }
      .description {
        font-size: 14px;
        line-height: 1.5em;
        word-spacing: 1px;
        color: var(--light-main);
        margin: 12px 0 0;
        font-family: var(--font-family-inria-regular);
      }
    }
  }
</style>
