---
import Box from "@common-components/Box.astro";
import { SkillIcons } from "@utils"
---

<div class="container">
  <div class="title">
    <h3 class="header">Skills & <span class="highlight">Expertise</span></h3>
    <h5 class="subheader">My learning journey in tech</h5>
  </div>
  <div class="marquee">
    <div class="marquee-content">
      {
        Object.keys(SkillIcons).map((skill) => (
          <Box text={skill} icon={SkillIcons[skill]} />
        ))
      }
    </div>
    <div class="marquee-content" aria-hidden="true">
      {
        Object.keys(SkillIcons).map((skill) => (
          <Box text={skill} icon={SkillIcons[skill]} />
        ))
      }
    </div>
  </div>
</div>

<style lang="scss">
  @import '../styles/media.scss';

  .container {
    background: var(--background-dark);
    padding: 40px 0px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    .title {
      color: var(--light-main);
      text-align: center;
      .header {
        font-family: var(--font-family-inria);
        font-size: var(--text-2xl);
        @include medium_device {
          font-size: var(--text-xl);
        }
      }
      .subheader {
        font-family: var(--font-family-inria-regular);
        margin: 8px 0 32px
      }
    }
    .marquee {
      display: flex;
      overflow: hidden;
      user-select: none;
      gap: 1rem;
      cursor: pointer;
      // @TODO: fix the disapearing effect
      // background-image: linear-gradient(to right, #cccccc, transparent 10%, transparent 90%,#cccccc 100%);
      &-content {
        flex-shrink: 0;
        display: flex;
        justify-content: space-around;
        min-width: 100%;
        gap: 1rem;
        animation: scroll 20s linear infinite;
      }
      &:hover {
        .marquee-content {
          animation-play-state: paused;
          -webkit-animation-play-state: paused;
          -moz-animation-play-state: paused;
        }
      }
    }
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 1rem));
    }
  }
</style>
