---
import Box from "@common-components/Box.astro";
import Container from "@common-components/Container.astro";
import { SkillIcons } from "@confs";
---

<Container>
  <Fragment slot="header">
    Skills & <span class="highlight">Expertise</span>
  </Fragment>
  <Fragment slot="subheader">My learning journey in tech</Fragment>
  <div class="marquee">
    <div class="marquee-content">
      {
        Object.keys(SkillIcons).map((skill) => (
          <Box text={skill} icon={SkillIcons[skill]} />
        ))
      }
    </div>
    <div class="marquee-content" aria-hidden="true">
      {
        Object.keys(SkillIcons).map((skill) => (
          <Box text={skill} icon={SkillIcons[skill]} />
        ))
      }
    </div>
  </div>
</Container>

<style lang="scss">
  @import "../styles/media.scss";
  .marquee {
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 1rem;
    cursor: pointer;
    // @TODO: fix the disapearing effect
    // background-image: linear-gradient(to right, #cccccc, transparent 10%, transparent 90%,#cccccc 100%);
    &-content {
      flex-shrink: 0;
      display: flex;
      justify-content: space-around;
      min-width: 100%;
      gap: 1rem;
      animation: scroll 20s linear infinite;
    }
    &:hover {
      .marquee-content {
        animation-play-state: paused;
        -webkit-animation-play-state: paused;
        -moz-animation-play-state: paused;
      }
    }
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 1rem));
    }
  }
</style>
