<div class="container">
  <h3 class="header">
    <slot name="header" />
  </h3>
  <h5 class="subheader">
    <slot name="subheader" />
  </h5>
  <slot />
</div>

<style lang="scss">
  @import "../../styles/media.scss";

  .container {
    padding-bottom: 32px;
    .header {
      text-align: center;
      font-size: var(--text-2xl);
      color: var(--light-main);
      font-family: var(--font-family-inria);
      padding: 32px 0 8px;
      @include medium_device {
        font-size: var(--text-xl);
      }
    }
    .subheader {
      font-size: var(--text-sm);
      text-align: center;
      color: var(--light-main);
      font-family: var(--font-family-inria-regular);
      margin-bottom: 32px;
    }
  }
</style>
