<div class="tag">
  <slot />
</div>

<style lang='scss'>
  .tag {
    padding: 4px 16px 8px;
    font-family: var(--font-family-inria-regular);
    border: 1px solid var(--light-grey);
    color: var(--ligh-main);
    border-radius: 20px;
    width: fit-content;
    text-transform: lowercase;
  }
</style>
