<div class="tag">
  <slot />
</div>

<style lang='scss'>
  .tag {
    line-height: 28px;
    padding: 0 16px;
    font-family: var(--font-family-inria);
    background: transparent;//var(--light-main);
    border: 1px solid var(--accent-contrast);
    color: var(--accent-contrast);
    border-radius: 20px;
    box-shadow: 0 0 5px 2px rgba(212, 182, 198, 0.149);
    width: fit-content;
  }
</style>
